# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente (nunca commitar segredos)
.env
.env.local
.env.*.local

# Prisma
# (schema.prisma fica DENTRO de prisma/, nunca duplicado na raiz)

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Sistema operacional
Thumbs.db